<html ng-app="mavenGuide">
<head>
    <script src="/static/node_modules/underscore/underscore.js"></script>
    <script src="/static/node_modules/angular/angular.js"></script>
    <script src="/static/node_modules/restangular/dist/restangular.js"></script>

    <script type="text/javascript">
        angular.module('mavenGuide',["restangular"]);
    </script>

    <script src="/static/js/service/greetingService.js"></script>

    <script type="text/javascript">
        angular.module('mavenGuide').controller("MainCtrl",["GreetingService","$scope",function(GreetingService,$scope){

            $scope.hello = function() {
                GreetingService.getGreeting().then(function(data){
                    $scope.greet = data;
                });
            };

            $scope.helloPerson = function() {
                GreetingService.getGreetingPerson($scope.person).then(function(data){
                    $scope.greet = data;
                });
            };

            $scope.person = "";
            $scope.greet = "";
        }])
    </script>


</head>
<body>

<div ng-controller="MainCtrl">
    <div>
        <button id="btn1" ng-click="hello()">GREET ANONYMOUS</button>
    </div>
    <div>
        <button id="btn2" ng-click="helloPerson()">GREET</button>
        <input id="input" type="text" ng-model="person"/>
    </div>
    <div id="display">Generated greeting: {{greet}}</div>
</div>

</body>
</html>
